<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appvaze.captchaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaptchaApp">
        <activity android:name="com.appvaze.captchaapp.views.WithdrawActivity" />
        <activity android:name="com.appvaze.captchaapp.views.auth.RegisterActivity" />
        <activity android:name="com.appvaze.captchaapp.views.auth.LoginActivity" />
        <activity android:name="com.appvaze.captchaapp.views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.appvaze.captchaapp.MainActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4771849901653081~9074890108"/>

        <meta-data android:name="applovin.sdk.key"
           android:value="xkSFNmZuQGUTEOHPpblohIotRDDS8JvXXWcXZ9MnVUlN8E17vn3C4aWZvphcTq4AvCdOwmbVF_bPgbwJdipsL0"/>
    </application>
</manifest>